.mdl-grid.boxshadow
  .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    .title
      h1 Dolor Posuere Tempus
      h2
        em Donec auctor condimentum lobortis

.well
  img(src='http://res.cloudinary.com/shafiq-tahir/image/upload/v1474262232/CodePen-FreeCodeCamp-Build-a-Tribute-Page.jpg' alt='Stone bridge')
  span.caption
    | Image by&nbsp;
    a(href='https://unsplash.com/photos/-sQ4FsomXEs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank') Alexander Rotker
    | &nbsp;@&nbsp;
    a(href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank') Unsplash

.mdl-grid.boxshadow
  .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet.mdl-cell--4-col-phone
    h3 Gravida lorem at, porttitor risus
    ul
      li
        strong 1920
        | &nbsp;- In pellentesque commodo tortor in fermentum. Ut sollicitudin vulputate consectetur.
      li
        strong 1933
        | &nbsp;- Sed sodales enim eu odio eleifend mattis. Aliquam ut lectus dapibus neque venenatis hendrerit.
      li
        strong 1937
        | &nbsp;- Etiam nec metus sit amet nisl vestibulum ultricies finibus quis orci. Mauris egestas sapien ut lobortis facilisis.
      li
        strong 1948
        | &nbsp;- Nulla facilisi. Nullam fermentum consectetur accumsan. Donec vehicula ut diam at imperdiet.
      li
        strong 1950
        | &nbsp;- Vestibulum accumsan urna nisl, sit amet malesuada risus dapibus quis. Aenean euismod venenatis justo, feugiat venenatis velit hendrerit vitae.
      li
        strong 1954
        | &nbsp;- Donec et quam vitae massa condimentum dapibus. Nunc tempor mi id massa efficitur, id varius arcu commodo. Nulla vel nulla elementum, consequat metus a, rutrum erat. Etiam et sem ut mi imperdiet bibendum. Donec sit amet iaculis dolor.

  .mdl-cell.mdl-cell--10-col-desktop.mdl-cell--1-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    .quote
      p.quotetxt Vivamus consectetur id nulla in placerat. Pellentesque sed finibus massa.
      p.quoteperson
        em - Nulla eu Tortor
    h6
      | If you want to know more about this topic, you can read more at&nbsp;
      a(href='http://example.com/', target='_blank') example.com

footer.mdl-mini-footer
  .mdl-logo
    | Written by&nbsp;
    a.footer-link(href="https://www.freecodecamp.org/letsziggy" target="_blank") LetsZiggy
    | &nbsp;for&nbsp;
    a.footer-link(href='https://www.freecodecamp.com/challenges/build-a-tribute-page', target='_blank') FreeCodeCamp Challenge
    | .

  .resources-container
    input#resources-toggle(type="checkbox")
    label.resources-btn(for="resources-toggle") Resources
    label.resources-backdrop(for="resources-toggle")
    .resources-content
      label.resources-close(for="resources-toggle") &#x2715;
      h5 Resources
      hr
      ul
        li
          a(href="https://codemyui.com/pure-css-modal-box-on-button-click/" target="_blank") Pure CSS Modal Box On Button Click
        li
          a(href="https://unsplash.com/developers" target="_blank") Unsplash API